extends layout

block content
  h1= title
  .container-fluid
    .row
      -
      for car in cars
        .col-sm-2
          h3= `Make: ${car.make}`
          p= `Model: ${car.model}`
          p= `Year: ${car.year}`
  br
  h5= 'Buy'

  div(class="container-fluid")
    each car, index in cars
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") 
          br
          | car #{index}: #{car.make} Model: #{car.model} Year: #{car.year}
  script.
    function buy(price){
      alert('You purchased item ' + price);
    }
